/* Styles for tasks container */
.tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for task container */
.task-container {
    width: 100%;
    width: 600px;
    background-color: #f0f4f8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Add overflow: hidden to contain floating children */
}

.task-container:not(:first-child) {
    height: auto;
    /* Set height to auto when not the first child */
}

/* Styles for task details */
.task-details {
    display: flex;
    justify-content: space-between;
    /* Align task details and buttons */
    align-items: center;
    /* Align items to the center */
    width: 100%;
}

.task-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Display task title and description in a column */
    align-items: flex-start;
    /* Align items to the start (top) */
}

/* Styles for task title and description */
.task-title,
.task-description {
    font-size: 16px;
    width: 100%;
    margin: 0;
    /* Remove default margin */
}

/* Styles for task buttons */
.task-buttons {
    display: flex;
    align-items: center;
}

.task-buttons button {
    margin-left: 10px;
}

/* Priority-based background color */
.task-priority-high {
    background-color: #ffcccc;
}

.task-priority-normal {
    background-color: #ffffcc;
}

.task-priority-low {
    background-color: #ccffcc;
}

/* Priority-based text color for task title */
.task-priority-high .task-title {
    color: #e74c3c;
}

.task-priority-normal .task-title {
    color: #f1c40f;
}

.task-priority-low .task-title {
    color: #2ecc71;
}

/* Priority-based text color for task description */
.task-priority-high .task-description {
    color: #e74c3c;
}

.task-priority-normal .task-description {
    color: #f1c40f;
}

.task-priority-low .task-description {
    color: #2ecc71;
}